{% autoescape off %}{% load i18n %}
Tämä sähköposti on lähetetty sinulle koska olet pyytänyt käyttäjätilisi salasanan uusimista {{ site_name }} palvelussa.

Seuraa alla olevaa linkkiä uusiaksesi salasanasi:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Tässä vielä käyttäjänimesi, siltä varalta, että olet unohtanut sen: {{ user.username }}

Kiitos, että käytät sivustoamme!

Terveisin,

{{ site_name }} ylläpito.

{% endautoescape %}