{% extends "base.html" %}{% load i18n %}

{% block content %}
    {% if validlink %}
        <h3>Valitse uusi salasana</h3>
        <p>
            Ole hyvä ja syötä uusi salasana kahdesti, jotta voimme varmistua siitä, että kirjoitit salasanan oikein.
        </p>
        {% load crispy_forms_tags %}
        {% crispy form %}
    {% else %}
        <h3>Salasanan uusiminen epäonnistui</h3>
        <p>
            Salasanan uusimislinkki oli viallinen. Tämä voi johtua siitä, että linkkiä on jo käytetty.
            Ole hyvä ja yritä salasanan uusimista uudestaan.
        </p>
    {% endif %}
{% endblock %}